/* background-size: cover;
 */
 .view-image{
     height:135px;
     width:135px;
     background-size: cover;
     border: 3px solid gold;
     box-shadow: 1px 1px .4em rgb(36, 36, 36), -1px -1px .4em rgb(36, 36, 36);
 }

 #photo-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4em 20%;
    padding: 1%;
    height: auto;
    margin-top: 3em;
    border-radius: 10px;
    background-color: purple;
    box-shadow: 2px 2px .4em rgb(37, 37, 37), -1px -1px .4em rgb(37, 37, 37);
  }
