.home_page{
    background-size: 2000px 1300px;
    background-position: center;
    background-image:url('./../../images/homepage.jpg');
    background-color: purple;
    display: flex;
    height: 929px;
}

.lakr_message{
    font-size: 3em;
    width:45%;
    text-align: center;
    word-wrap: normal;
    margin-left: -29%;
    margin-top: 15%;
    color:gold;
}
.lakr_title{
    font-size: 6em;
    position: relative;
    margin-left: 40%;
    color:gold;
}
