.form{
    width: 150px;
    height: 150px;
    justify-content:center;
    margin: auto;
    text-align: center;
    text: yellow;
}


.form h3 {
    color: yellow;
}
/* .form{
    width: 200px;
    height: 150px;
    margin: 55px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    box-shadow: 1px 1px .4em rgb(36, 36, 36)
} */
