.form-class{
    width: 165px;
    height: 165px;
    justify-content:center;
    margin: auto;
    text-align: center;
    text: yellow;
    color:purple;
    margin-bottom: 5px;

}

.form h3 {
    color: yellow;
}
